@dhi:registry=https://npm.pkg.github.com
shared-workspace-shrinkwrap=true
link-workspace-packages=deep
package-import-method=hardlink
shared-workspace-lockfile=false
ignore-workspace-root-check=true
strict-peer-dependencies=false